<div class="jumbotron">
  <h3>{{ title }}</h3>

  <div *ngIf="fotos.length > 0">
    <img [src]="fotos[fotoAtual]" height="800px" />
    <div>
      Foto {{ fotoAtual + 1 }} de {{ fotos.length }}
      <button
        (click)="voltarParaPrimeira()"
        [disabled]="fotoAtual == primeira()"
        class="btn btn-success"
      >
        |<<
      </button>
      <button
        (click)="voltarParaAnterior()"
        [disabled]="fotoAtual == primeira()"
        class="btn btn-primary"
      >
        <
      </button>
      <button
        (click)="irParaProxima()"
        [disabled]="fotoAtual == ultima()"
        class="btn btn-primary"
      >
        >
      </button>
      <button
        (click)="vaiParaUltima()"
        [disabled]="fotoAtual == ultima()"
        class="btn btn-success"
      >
        >>|
      </button>
    </div>
  </div>
</div>

<!-- <p>'Texto'</p>
<p>{{ name }}</p>
<button (click)="updateCount()">+1</button>
<button (click)="zeroCount()">Zerar</button>
<p>{{ count }}</p>
<p>{{ index }}</p>
<img [src]="imgSource[index]" height="500px" alt="texto" />
<br />
<br />
<br />
<button id="previous" (click)="previousImage()" [disabled]="disabledPrev">
  <=
</button>
<button id="next" (click)="nextImage()" [disabled]="disabledNext">=></button>
<br />
<br />
<button id="onoff" (click)="disabled = !disabled">On/Off</button>
<input type="text" [disabled]="disabled" /> -->
